html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    background-color: #f4511e;
}

h1 {
    font-size: 90px;
}

h2 {
    font-size: 35px
}

.fa-github {
    font-size: 35px;
    padding-right: 10px
}

.jumbotron {
  background-color: #f4511e; /* Orange */
  color: #ffffff;
  padding: 100px 25px 3px;
    text-align: center
    
}

.container-fluid {
    text-align: left;
    padding: 150px 25px ;
    padding-top: 3px

}

.bg-grey {
  background-color:ghostwhite;
}

.bg-white {
    background-color: white;
}