/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */



h1 {
    font-size: 100px;
}

p {
    line-height: 2rem;
}

a {
    color: white;
}

a:hover {
    color: gray;
}

.tabs .tab a {
    color: #000;
}

/*Black color to the text*/

.tabs .tab a:hover {
    background-color: rgba(53, 116, 204, 0.2);
    color: #000;
}

/*Text color on hover*/

.tabs .tab a.active {
    background-color: rgba(53, 116, 204, 0.2);
    color: #000;
}

/*Background and text color when a tab is active*/

.tabs .tab a:focus.active {
    color: #000;
    /*Custom Text Color While Active*/
    background-color: rgba(53, 116, 204, 0.2);
    /*Custom Background Color While Active*/
}

.tabs .indicator {
    background-color: #000;
}

/*Color of underline*/

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
    background-color: rgba(53, 116, 204, 0.5);
}

.background-image {
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(2px);
}
